:root {
  --dark_text_color: #343e57;
  --light_text_color: #777f8f;
  --active-color: #377eff;
  --range-bg-color: rgba(213, 216, 226, 255);
}

* {
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}
img{
  object-fit: contain;
  object-position: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__section {
  background: #ffffff;
  padding-bottom: 35px;
  padding-top: 0px;
  padding-left: 35px;
  padding-right: 35px;
}

.navbar {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 150px;
  color: #244d4d;
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: -0.03em;
  cursor: pointer;
}

.links {
  display: flex;
}

.links li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #242424;
  margin-right: 74px;
  cursor: pointer;
}

.icons {
  display: flex;
}

.icons img {
  margin-right: 44px;
  cursor: pointer;
}

.hero__jumbo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots {
  position: absolute;
  bottom: 90%;
  right: 70%;
}

.hero__info {
  width: 45%;
  z-index: 999;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  padding-top: 72px;
  padding-bottom: 72px;
}

.hero__info h2 {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 72px;
  width: 90%;
  letter-spacing: -0.03em;
  color: #244d4d;
}

.hero__info p {
  width: 80%;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.hero__img {
  position: relative;
  right: 12%;
}

.jumbo__img {
  width: 116%;
  height: 700px;
  object-fit: contain;
  object-position: center;
}

.hero__img-arrow {
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  bottom: -2%;
  right: -20%;
  display: flex;
}

.slide__controls {
  display: flex;
  align-content: center;
  justify-content: left;
  flex-direction: column;
  gap: 100px;
}

.slide__navigation {
  display: flex;
  flex-direction: column;
  gap: 58px;
  cursor: pointer;
}

.slides__indicators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
  color: #242424;
}

.line {
  background: black;
  height: 71px;
  width: 1px;
}

.companies__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background: #f4f6f6;
  padding: 50px 35px 40px 35px;
}

.companies__header {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #031745;
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.hot-deal__section {
  background: #ffffff;
  padding: 138px 118px 120px 118px;
}

.hot-deals {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 50px;
}

.hot-deals__header p {
  width: 214px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.hot-deals__title {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 25px;
  color: #244d4d;
  align-items: center;
  margin: 0px 0 30px;
}

.hot-deals__fire {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hot-deals__info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.deals-info__text {
  width: 214px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.hot-deal {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #3d3d3f;
}

.deals-info__text {
  width: 188px;
}

.about-us__section {
  background: #ffffff;
  padding: 138px 118px 120px 118px;
}

.about-us__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.about-us__top-left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1px;
}

.about-us__header {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 76px;
  color: #244d4d;
}

.about-us__top-left p {
  width: 343px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.about-us__button {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
  background: #f4f6f6;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #5f5f64;
  cursor: pointer;
  box-shadow: 0px 100px 80px rgba(36, 77, 77, 0.1),
    0px 64.8148px 46.8519px rgba(36, 77, 77, 0.0759259),
    0px 38.5185px 25.4815px rgba(36, 77, 77, 0.0607407),
    0px 20px 13px rgba(36, 77, 77, 0.05),
    0px 8.14815px 6.51852px rgba(36, 77, 77, 0.0392593),
    0px 1.85185px 3.14815px rgba(36, 77, 77, 0.0240741);
}

.about-us__bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-us__bottom-left {
  display: flex;
  flex-direction: column;
  gap: 82px;
}

.about-us__info {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.about-us__number {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 76px;
  color: #244d4d;
}

.about-us__info-title {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 76px;
  color: #244d4d;
}

.about-us-text {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.about-us__info-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.about-us__info-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.about-us__bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.about-us__images-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  top: 90px;
}

.about-us__images-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 31px;
  position: relative;
}

.products__section {
  background: #ffffff;
  padding: 75px 185px 120px 185px;
}

.products__top {
  display: flex;
  justify-content: space-between;
}

.products__see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product__header {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 0.01em;
  color: #244d4d;
  margin-bottom: 50px;
}

.products__list {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 71px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #a9a7a6;
  margin-bottom: 141px;
}

.products__list li {
  cursor: pointer;
}
.products__list li:hover {
  color: black;
}

.products__list .active {
  color: #3d3d3f;
}

.product__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 58px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.products__box {
  background: #f7f7f7;
  width: 312px;
  height: 305px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 58px;
}

.product__cart {
  position: relative;
  z-index: 2000;
  background: #d6c4b8;
  border-radius: 50%;
  width: 32px;
  bottom: 24px;
  left: 124px;
  padding: 8px;
}

.products__title {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  color: #3d3d3f;
  margin-bottom: 29px;
}

.product__prices {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  gap: 34px;
}

.current__price {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #3d3d3f;
}

.old__price {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #a9a7a6;
}

.product__img {
  position: relative;
  z-index: 2000;
  top: 74px;
  height: 235px;
  width: 240px;
  object-fit: contain;
  object-position: center;
}
.review__section {
  background: #ffffff;
  padding: 138px 118px 120px 118px;
}
.review__section-container {
  background: #f4f6f6;
  border-radius: 12px;
  padding: 115px 0;
  gap: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.review__top {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 110%;
}
.semicircle {
  position: relative;
  bottom: 114px;
}
.semicircle img {
  position: absolute;
}
.review__top img {
  object-fit: contain;
  object-position: center;
}
.review__hero{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.review__header{
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
  color: #244D4D;
  width: 60%;
}
.review__hero-text{
  font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #3A4F65;
    width: 53%;
}
.review__icon {
  position: relative;
  left: -245px;
  top: 71px;
  background: #FFFFFF;
  box-shadow: 0px 40px 50px -14px rgb(171 211 227 / 50%);
  border-radius: 50%;
  height: 78px;
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review__icon img{
  display: flex;
  align-items: center;
  top: 7px;
  position: relative;
}
.review__bottom {
  display: flex;
justify-content: space-between;
align-content: center;
margin: auto;
width: 76%;
}
.review__bottom-ellipse {
  position: relative;
  height: fit-content;
  left: -67px;
  bottom: -355px;
}
.review__bottom-left{
  margin-right: 114px;
}
.review__icon-star{
position: relative;
left: -34px;
top: -306px;
background: #FFFFFF;
box-shadow: 0px 40px 50px -14px rgb(171 211 227 / 50%);
border-radius: 50%;
height: 56px;
width: 60px;
display: flex;
align-items: center;
justify-content: center;
}
.review__icon-star{
  display: flex;
  align-items: center;
  top: -345px;
  position: relative;
}
.review__icon-star img{
  display: flex;
align-items: center;
top: 7px;
position: relative;
}
.review__logo{ 
font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 37px;
letter-spacing: -0.03em;
color: #244D4D;
margin-bottom: 38px;
}
.client__review{
  margin-bottom: 45px;
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: #5E7388;
  width: 89%;
}
.client__info{
  margin-bottom: 54px;
}
.client__name{
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #152137;
  margin-bottom:6px;
  
}
.client__title{
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #647383;
  
  
}
.review__navigation{
  display: flex;
  gap: 20px;
}
.review__icon-nav{
  background: #FFFFFF;
box-shadow: 0px 40px 50px -14px rgb(171 211 227 / 50%);
border-radius: 50%;
height: 56px;
width: 60px;
display: flex;
align-items: center;
justify-content: center;
}

.review__icon-nav img{
display: flex;
align-items: center;
justify-content: center;
}