:root {
  --dark_text_color: #343e57;
  --light_text_color: #777f8f;
  --active-color: #377eff;
  --range-bg-color: rgba(213, 216, 226, 255);
}

* {
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}
img{
  object-fit: contain;
  object-position: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

.header__section {
  background: #ffffff;
  padding-bottom: 35px;
  padding-top: 0px;
  padding-left: 35px;
  padding-right: 35px;
}

.navbar {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 150px;
  color: #244d4d;
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: -0.03em;
  cursor: pointer;
}

.links {
  display: flex;
}

.links li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #242424;
  margin-right: 74px;
  cursor: pointer;
}

.icons {
  display: flex;
}

.icons img {
  margin-right: 44px;
  cursor: pointer;
}

.hero__jumbo {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.dots {
  position: absolute;
  bottom: 90%;
  right: 70%;
}

.hero__info {
  width: 40%;
  z-index: 999;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  padding-top: 72px;
  padding-bottom: 72px;
  right: -61px;
}


.hero__info h2 {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 72px;
  width: 82%;
  letter-spacing: -0.03em;
  color: #244d4d;
}

.hero__info p {
  width: 80%;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.hero__img {
  position: relative;
  right: 11%;
  width: 60%;
}

.jumbo__img {
  width: 115%;
  height: 700px;
  object-fit: contain;
  object-position: center;
}


.hero__img-arrow {
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  bottom: 0%;
  right: -20%;
  display: flex;
}

.slide__controls {
  display: flex;
  align-content: center;
  justify-content: left;
  flex-direction: column;
  gap: 100px;
}

.slide__navigation {
  display: flex;
  flex-direction: column;
  gap: 58px;
}
.slide__navigation{
  cursor: pointer;
}

.slides__indicators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
  color: #242424;
}

.line {
  background: black;
  height: 71px;
  width: 1px;
}

.companies__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background: #f4f6f6;
  padding: 50px 35px 40px 35px;
}

.companies__header {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.14em;
  color: #031745;
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.hot-deal__section {
  background: #ffffff;
  padding: 138px 118px 120px 118px;
}

.hot-deals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.hot-deals__header p {
  width: 214px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.hot-deals__title {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 25px;
  color: #244d4d;
  align-items: center;
  margin: 0px 0 30px;
}

.hot-deals__fire {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hot-deals__info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.deals-info__text {
  width: 214px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.hot-deal {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #3d3d3f;
}

.deals-info__text {
  width: 188px;
}

.about-us__section {
  background: #ffffff;
  padding: 138px 118px 120px 118px;
}

.about-us__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.about-us__top-left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1px;
}

.about-us__header {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 76px;
  color: #244d4d;
}

.about-us__top-left p {
  width: 343px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.about-us__button {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
  background: #f4f6f6;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #5f5f64;
  cursor: pointer;
  box-shadow: 0px 100px 80px rgba(36, 77, 77, 0.1),
    0px 64.8148px 46.8519px rgba(36, 77, 77, 0.0759259),
    0px 38.5185px 25.4815px rgba(36, 77, 77, 0.0607407),
    0px 20px 13px rgba(36, 77, 77, 0.05),
    0px 8.14815px 6.51852px rgba(36, 77, 77, 0.0392593),
    0px 1.85185px 3.14815px rgba(36, 77, 77, 0.0240741);
}

.about-us__bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-us__bottom-left {
  display: flex;
  flex-direction: column;
  gap: 82px;
}

.about-us__info {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.about-us__number {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 76px;
  color: #244d4d;
}

.about-us__info-title {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 76px;
  color: #244d4d;
}

.about-us-text {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

.about-us__info-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.about-us__info-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.about-us__bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.about-us__images-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  top: 90px;
}

.about-us__images-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 31px;
  position: relative;
}

.products__section {
  background: #ffffff;
  padding: 75px 125px 120px 125px;
}

.products__top {
  display: flex;
  justify-content: space-between;
}

.products__see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  position: relative;
}
.products__see-all p,img{
  cursor: pointer;
  z-index: 3;
}
.grey__background{
  background: #E9E9E9;
  width: 34px;
  height: 19px;
  position: absolute;
  z-index: 1;
  left: 83%;
}
.product__header {
  font-family: "Noto Serif JP";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 0.01em;
  color: #244d4d;
  margin-bottom: 50px;
}

.products__list {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 71px;
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #a9a7a6;
  margin-bottom: 141px;
}

.products__list li {
  cursor: pointer;
}
.products__list li:hover {
  color: black;
}

.products__list .active {
  color: #3d3d3f;
}

.product__row {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 58px;
  grid-template-columns: repeat(auto-fill,300px);
  row-gap: 186px;
}


.products {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.products__box {
  background: #f7f7f7;
  width: 312px;
  height: 305px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 58px;
}

.product__cart {
  position: relative;
  z-index: 2000;
  background: #d6c4b8;
  border-radius: 50%;
  width: 32px;
  bottom: 24px;
  left: 124px;
  padding: 8px;
}
.product__info{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.products__title {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  color: #3d3d3f;
  margin-bottom: 29px;
}

.product__prices {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  gap: 34px;
}

.current__price {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #3d3d3f;
}

.old__price {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #a9a7a6;
}

.product__img {
  position: relative;
  z-index: 2000;
  top: 74px;
  height: 235px;
  width: 240px;
  object-fit: contain;
  object-position: center;
}
.review__section {
  background: #ffffff;
  padding: 138px 118px 120px 118px;
}
.review__section-container {
  background: #f4f6f6;
  border-radius: 12px;
  padding: 115px 0;
  gap: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.review__top {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 110%;
}
.semicircle {
  position: relative;
  bottom: 114px;
}
.semicircle img {
  position: absolute;
}
.review__top img {
  object-fit: contain;
  object-position: center;
}
.review__hero{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.review__header{
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
  color: #244D4D;
  width: 60%;
}
.review__hero-text{
  font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #3A4F65;
    width: 53%;
}
.review__icon {
  position: relative;
  left: -245px;
  top: 71px;
  background: #FFFFFF;
  box-shadow: 0px 40px 50px -14px rgb(171 211 227 / 50%);
  border-radius: 50%;
  height: 78px;
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review__icon img{
  display: flex;
  align-items: center;
  top: 7px;
  position: relative;
}
.review__bottom {
  display: flex;
justify-content: space-between;
align-content: center;
margin: auto;
width: 76%;
}
.review__bottom-ellipse {
  position: relative;
  height: fit-content;
  left: -67px;
  bottom: -355px;
}
.review__bottom-left{
  margin-right: 114px;
}
.review__icon-star{
position: relative;
left: -34px;
top: -306px;
background: #FFFFFF;
box-shadow: 0px 40px 50px -14px rgb(171 211 227 / 50%);
border-radius: 50%;
height: 56px;
width: 60px;
display: flex;
align-items: center;
justify-content: center;
}
.review__icon-star{
  display: flex;
  align-items: center;
  top: -345px;
  position: relative;
}
.review__icon-star img{
  display: flex;
align-items: center;
top: 7px;
position: relative;
}
.review__logo{ 
font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 37px;
letter-spacing: -0.03em;
color: #244D4D;
margin-bottom: 38px;
}
.client__review{
  margin-bottom: 45px;
  font-family: 'Google Sans';
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: #5E7388;
  width: 89%;
}
.client__info{
  margin-bottom: 54px;
}
.client__name{
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #152137;
  margin-bottom:6px;
  
}
.client__title{
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #647383;
  
  
}
.review__navigation{
  display: flex;
  gap: 20px;
}
.review__icon-nav{
  background: #FFFFFF;
box-shadow: 0px 40px 50px -14px rgb(171 211 227 / 50%);
border-radius: 50%;
height: 56px;
width: 60px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.review__icon-nav:hover {
 border: 1px solid #DDEDF4; 
}


.review__icon-nav img{
display: flex;
align-items: center;
justify-content: center;
}
.footer__section{
  background: #244D4D;
  padding: 130px 118px 106px 118px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}
.footer__cta{
  display: flex;
  gap:136px;
  padding-bottom: 60px;
  border-bottom: 1px solid #FFFFFF12;
  align-items: center;
justify-content: center;
}
.footer__header{
font-family: 'Google Sans';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 60px;
color: #FFFFFF;
}
.cta__buttons{
  display: flex;
  gap:20px;
}
.cta__left-btn{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 23px;
text-align: center;
background: #FCFBFF;
color: #244D4D;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
height:60px;
width:200px;
cursor: pointer;
transition:all .5s ease-in-out;
}
.cta__left-btn:hover{
  background: #EEECF6;
}


.cta__right-btn{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 23px;
text-align: center;
background: #3A5F5F;
color: #FCFBFF;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
height:60px;
width:200px;
cursor: pointer;
transition:all .5s ease-in-out;
}

.cta__right-btn:hover{
  background: #396464;
}
.footer__bottom-section{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 110px;
  padding-top:90px;
}
.footer__logo{
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  margin-bottom:19px;
}
.footer__info{
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: #EEEEEE;
  margin-bottom: 30px;
  max-width: 230px;
}
.footer__social-links{
display: flex;
align-items: flex-start;
justify-content: flex-start;
gap: 25px;
}
.social__icon{
height: 20px;
width: 20px;
}
.footer__links-section{
  display: flex;
  align-items: baseline;
  justify-content:center;
  gap: 115px;
}
.link__catagory{
font-family: 'Google Sans';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 22px;
color: #FFFFFF;
}
.link__column{
  display: flex;
  align-items:baseline;
  justify-content:center;
  flex-direction: column;
  gap:19px;
}
.footer__links{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.link{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #EEEEEE;
}

@media only screen and (max-width:1300px){
  .header__menu-tabs{
      display:none;
  }
  .hero__img-arrow{
    bottom: 5%;
  }
 .about-us__bottom{
    flex-direction: column;
    gap: 80px;
  }
  .about-us__bottom-left{
    padding-left: 95px;
  }
  .footer__bottom-section {
    gap: 98px;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width:1180px){
   .semicircle{
    display: none;
  }
  .review__bottom-left {
    margin-right: 50px;
  }
  .review__top{
    justify-content: center;
  }
  .review__icon {
    left: -141px;
  }
  .review__bottom{
    width: 78%;
  }
  .footer__header {
    font-size: 30px;
  }
  .cta__left-btn { 
    font-size: 15px;
    height: 47px;
    width: 147px;
  }
  .cta__right-btn { 
    font-size: 15px;
    height: 47px;
    width: 147px;
  }
  .footer__bottom-section {
    gap: 80px;
    justify-content: space-between;
  }
}

@media only screen and (max-width:1060px){
 
 .links{
  display: none;
 }
 .hero__info h2 {
  font-size: 37px;
  line-height: 58px;
 }
 .hero__info p {
  font-size: 16px;
}
.hero__img-arrow {
  bottom: 14%;
left: 99%;
width: 100px;
height: 95px;
}
.review__bottom {
  width: 90%;
}
.footer__links-section {
  flex-wrap: wrap;
}
.footer__info-section{
  width: 20%;
}
}
@media only screen and (max-width:980px){
 
.hero__info h2 {
    font-size: 30px;
    line-height: 44px;
  }
  .hero__info p {
    font-size: 13px;
  }
  .hot-deals__title {
  font-size: 30px;
}
  .about-us__bottom-left {
    padding-left: 58px;
  }
  .product__row {
    grid-template-columns: repeat(auto-fill,275px);
  }
  .review__header {
    font-size: 52px;
  }
  .client__review {
    font-size: 18px;
    line-height: 36px;
  }
  .review__bottom-left {
    margin-right: 31px;
  }
  .footer__cta {
    gap: 11px;
}
@media only screen and (max-width:880px){
  .hero__info {
    padding-top: 43px;
    padding-bottom: 20px;
  }
  .hero__info h2 {
    font-size: 26px;
    line-height: 44px;
  }
  .hero__info p {
    font-size: 12px;
  }
  .hero__img-arrow {
    bottom: 21%;
    left: 97%;
    width: 80px;
    height: 75px;
  }
  .slide__controls{
  gap: 43px;
  }
  .about-us__header {
    font-size: 35px;
  }
  .about-us__top-left p {
    font-size: 12px;
  }
  .about-us__button {
   padding-right: 20px;
    padding-left: 20px;
    padding-right: 14px;
    padding-left: 14px;
    font-size: 13px;
  }
  .about-us__number {
    font-size: 35px;
  }
  .about-us__info-title {
    font-size: 21px;
  }
  .about-us-text {
    font-size: 12px;
  }
  .product__header {
    font-size: 35px; 
  }
  .products__box {
    width: 262px;
  }
  .product__row {
    grid-template-columns: repeat(auto-fill,235px);
  } 
  .products__title {
    font-size: 19px;
  }
  .current__price {
    font-size: 16px;
  }
  .old__price {
    font-size: 13px;
  }
  .review__header {
    font-size: 32px;
  }
  .review__hero-text {
    font-size: 13px;  
  }
  .review__bottom {
    flex-wrap: wrap;
    width: 70%;
  }
  .review__bottom-right{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .review__navigation {
      justify-content: center;
    align-items: center;
  }
  .cta__left-btn {
    font-size: 13px;
    width: 110px;
  }
  .cta__right-btn {
    font-size: 13px;
    width: 110px;
  }
  }
  @media only screen and (max-width:780px){
    .hero__info h2 {
      font-size: 21px;
      line-height: 41px;
    }
    .hero__info p {
      font-size: 11px;
    }
    .hero__img-arrow {
      bottom: 23%;
      left: 94%;
    }
    .hot-deal__section {
      padding-left: 80px;
      padding-right: 80px;
    }
    .about-us__section{
      padding-left: 80px;
      padding-right: 80px;
    }
    .about-us__bottom-left {
      padding-left: 7px;
    }
    .products__section{
      padding-left: 50px;
      padding-right: 50px;
    }
    .review__section{
      padding-left: 80px;
      padding-right: 80px;
    }
    .review__bottom {
      width: 75%;
    }
    .footer__section{
      padding-left: 60px;
      padding-right: 60px;
    }
  }
  @media only screen and (max-width:680px){
    .hero__info h2 {
      font-size: 18px;
      line-height: 28px;
    }
    .hero__info p {
      font-size: 11px;
      line-height: 20px;
    }
    .hero__img-arrow {
      bottom: 26%;
      left: 90%;
    }
    .hot-deal__section {
      padding-left: 40px;
      padding-right: 40px;
    }
    .about-us__section {
      padding-left: 40px;
      padding-right: 40px;
    }
    .products__section {
      padding-left: 30px;
      padding-right: 30px;
    }
    .review__section {
      padding-left: 30px;
      padding-right: 29px;
    }
    .review__bottom {
      width: 65%;
    }
    .footer__header {
      font-size: 22px;
    }
    .cta__left-btn {
      font-size: 13px;
      width: 85px;
    }
    .cta__right-btn {
      font-size: 13px;
      width: 85px;
    }
  }
  @media only screen and (max-width:580px){
    .logo {
      margin-right: 2px;
    }
    .hero__info {
           padding-top: 20px;
    padding-bottom: 92px;
        position: absolute;
        right: 27%;
        bottom: 5%;
        width: 53%;
    }
    .dots {
      display: none;
    }

    .hero__img {
      position: relative;
      right: 5%;
    width: 100%;
    }
    .jumbo__img {
      width: 100%;
    }
    .hero__img-arrow {
      display: none;
    }
    .companies__header {
      font-size: 16px;
    }
    .hot-deal__section {
      padding-left: 25px;
      padding-right: 25px;
    }
    .hot-deals {
      flex-direction: column;
    }
    .about-us__section {
      padding-left: 25px;
      padding-right: 25px;
    }
    .about-us__top {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 38px;
      flex-direction: column;
      gap: 15px;
    }
    .about-us__top-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1px;
    }
    .about-us__top-left p {
      text-align: center;
    }
    .about-us__button {
      padding-bottom: 12px;
      padding-top: 12px;
      padding-right: 14px;
      padding-left: 14px;
      font-size: 13px;
    }
    .about-us__info-top {
      flex-direction: column;
    }
    .about-us__info-bottom {
      flex-direction: column;
    }
    .about-us__bottom-right {
      gap: 130px;
      flex-direction: column;
    }
    .about-us__images-left {
      flex-direction: column;
    }
    .about-us__images-right {
      flex-direction: column;
    }
    .products__section {
      padding-left: 25px;
      padding-right: 25px;
    }
    .products__top {
      align-items: baseline;
    }
    .products__list {
      gap: 19px;
    }
    .review__section {
      padding-left: 25px;
      padding-right: 25px;
    }
    .review__header {
      font-size: 30px;
    }
    .review__icon {
      left: -60px;
      top: 126px;
    }
    .review__bottom {
      width: 100%;
      align-content: center;
      justify-content: center;
      display: flex;
    }
    .review__bottom-ellipse {
      display: none;
    }
    .review__icon-star{top: -216px;
    }
    .review__bottom-left {
      margin-left: 66px;
    }
    .review__client{
      width: 75%;
      align-items: center;
    }
    .client__review {
      width: 97%;
    }
    .footer__section {
      padding-left: 26px;
      padding-right: 26px;
    }
  }
  @media only screen and (max-width:450px){
    .logo {
      margin-right: 77px;
    }
    .hero__info {
      padding-top: 46px;
      padding-bottom: 92px;
      right: 23%;
      bottom: 5%;
      width: 63%;
    }
    .header__section {
      background: #ffffff;
      padding-bottom: 16px;
      padding-top: 0px;
      padding-left: 7px;
      padding-right: 7px;
    }
    .hot-deal__section {
      padding-left: 7px;
      padding-right: 7px;
    }
    .about-us__top-left p {
      max-width: 80%;
    }
    .about-us__info {
      width: 83%;
    }
    .products__section {
      padding-left: 6px;
      padding-right: 6px;
    }
    .products__box {
      width: 100%;
    }
    .product__cart {
      bottom: 13px;
      left: 111px;
    }
    .review__header {
      font-size: 27px;
      width: 76%;
    }
    .review__icon {
      display: none;
    }
    .review__client {
      width: 100%;
    }
    .review__bottom-left {
      margin-left: 31px;
      margin-right: 31px;
    }
    .footer__cta {
      flex-wrap: wrap;
    }
  }
  @media only screen and (max-width:380px){
    .hero__info {
      padding-top: 21px;
      padding-bottom: 92px;
      right: 23%;
      bottom: 3%;
  }
}
}